<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Accueil</title>
  </head>
  <body>
    <div class="row">
      <div class="column">
        <h1 class="text">Bienvenue!</h1>
        <h2 class="description">
          sur la plateforme des Rendez-Vous En Ligne, <br />
          cliquez pour commencer
        </h2>
        <a routerLink="/Conseillers" class="btn btn-2"
          >Commencer</a> 
        <br />
        <br />
        <a href="https://rimris.com/" target="_blank">
        <img class="ris" src="../assets/ris.png" alt="" href="https://rimris.com/" />
      </a>
      </div>
      <div class="column">
 
        <img class="img" src="../assets/032.png" alt=""  />
       
      </div>
    </div>

  </body>
</html>
